/USBBackup/.vs/ÛSBBackup/v14/*.suo
/USBBackup/.vs/USBBackup/v14/*.suo
/USBBackup/USBBackup/*.user
/USBBackup/USBBackup/bin
/USBBackup/USBBackup/obj
/USBBackup/.idea/*
/USBBackup/USBBackupGUI/bin
/USBBackup/USBBackupGUI/obj
/USBBackup/packages
/USBBackup/USBBackupGUI/*.user
/USBBackup/.vs/USBBackup/v15/*.suo
