<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="USBBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <USBBackup.Properties.Settings>
      <setting name="BackupInterval" serializeAs="String">
        <value>00:10:00</value>
      </setting>
      <setting name="HandleBackupOnInterval" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WatchBackupSources" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CleanupRemovedFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>en-US</value>
      </setting>
    </USBBackup.Properties.Settings>
  </userSettings>
</configuration>